DATABASE_URL=postgresql+psycopg2://adpm:adpm_pass@localhost:5432/adpm_db
JWT_SECRET_KEY=YOUR_SECRET_JWT_KEY_PUT_THAT_HERE
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_USER=adpm
POSTGRES_PASSWORD=adpm_pass
POSTGRES_DB=adpm_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
